# ignore virtual environment
venv/

# ignore logs and databases
*.log
*.sqlite3

# ignore Git files
.git/
.gitignore

# ignore Python cache files
__pycache__/
*.pyc
*.pyo

# ignore local settings
local_settings.py
